@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.body {
    color:#ceeded;
}
@keyframes navBar {
    from {color: #ceeded;}
    to {color: rgb(0, 196, 147);}
  }

  *::selection {
    background-color: rgb(30, 211, 150);
    color: white;
  }

  @media only screen and (max-width: 550px) {
    .headerText {
        display: none;
    }

    .timerWrapper {
        margin: auto;
        height: 100px;
        position: sticky;
        margin-top: 2em;
    }
    
    .timerLogo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 30px;
        font-size: 6vw;
        color:#d5a05c;
        text-shadow: 2px 2px 2px black; 
    }

    .timerLogo2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 30px;
        font-size: 4vw;
        color:#ceeded;
        text-shadow: 2px 2px 2px black; 
    }
    
    .timerText {
        margin:auto;
        
    }
    
    .clockWrapper {
        justify-content: center;
        text-align: center;
        display: flex;
    }
    
    .clockWrapper div {
        
        line-height: 2em;
        color: #ceeded;
        padding: 0.5vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bolder;
        text-shadow: 0px 4px 4px black;
        font-size: 5vw;
    }
  }

  @media only screen and (max-width: 1136px) {
    .menuWrapper .nav1 {
        display: none;
    }
    
    .timerWrapper {
        margin: auto;
        position: sticky;
        margin-top: 2em;
    }
    
    .timerLogo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 30px;
        font-size: 6vw;
        color:#d5a05c;
        text-shadow: 2px 2px 2px black; 
    }

    .timerLogo2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 30px;
        font-size: 4vw;
        color:#ceeded;
        text-shadow: 2px 2px 2px black; 
    }
    
    .timerText {
        margin:auto;
        
    }
    
    .clockWrapper {
        justify-content: center;
        text-align: center;
        display: flex;
    }
    
    .clockWrapper div {
        line-height: 2em;
        color: #ceeded;
        padding: 0.5vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bolder;
        text-shadow: 0px 4px 4px black;
        font-size: 5vw;
    }
  }

  @media only screen and (max-width: 300px) {
    .headerContent img {
        display: none;
    }
  }

  @media only screen and (min-width: 1137px) {
    .nav2 {
        display: none;
    }

    .nav2 div {
        display: none;
    }

    .menuWrapper .mobileLogo {
        display: none;
    }

    .mobileNav {
        display: none;
    }

    .timerWrapper {
        margin: auto;
        height: 400px;
        position: sticky;
        margin-top: 2em;
    }
    
    .timerLogo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 30px;
        font-size: 6vw;
        color:#d5a05c;
        text-shadow: 2px 2px 2px black; 
    }

    .timerLogo2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 30px;
        font-size: 4vw;
        color:#ceeded;
        text-shadow: 2px 2px 2px black; 
    }
    
    .timerText {
        margin:auto;
        
    }
    
    .clockWrapper {
        justify-content: center;
        text-align: center;
        display: flex;
    }
    
    .clockWrapper div {
        line-height: 2em;
        color: #ceeded;
        padding: 0.5vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bolder;
        text-shadow: 0px 4px 4px black;
        font-size: 5vw;
    }
    
  }

  .converterWrapper {
    margin: auto;
    text-align: center;
    padding-left: 10px;
  }

  .converterWrapper > form {
    text-align: left;
    display: inline-block;
  }

  /* .converterWrapper h1, h2, label, input, p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vw;

  } */

  .converterWrapper {
     h2, label, input, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .converterWrapper input{
    background-color: #ceeded;
    color: #001f1e;
    
  }

  .converterWrapper input#quantity{
    width: 150px;
    
  }


  .converterWrapper input[type=radio] {
    border: 0px;
    width: 20px;
    height: 20px;
}

p#result {
    font-size: 28px;
}

  .nav2 {
    display: inline-block;
  }

  .nav2 img {
    display: inline-block;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  .nav2 div {
    width: 0.5em;
  }

  .menuWrapper img {
    position: absolute;
    right: 15px;
  }

  .nav2 .hamWrapper {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 12px;
    width: 3em;
  }

  .nav2 .hamWrapper div {
   width: 25px;
   height: 4px;
   background-color: rgb(83, 238, 220);
   margin: 3px;
   border-start-start-radius: 1px;
   border-end-end-radius: 1px;
   border-start-end-radius: 1px;
   border-end-start-radius: 1px;
  }

  .nav2 .hamWrapper:hover > div {
    background-color: rgb(150, 247, 235);
}

header {
    background-color: aliceblue;
    margin: 0 auto;
    /* height: 4em; */
    box-sizing: border-box;
    background-color: #001f1e;
    border-top: solid #001f1e 1px;
    
}

.menuWrapper {
    height: 4em;
    background-image: linear-gradient(#006663, #00524F);
    border-top: solid #1f7a7a 1px;
    border-bottom: solid #002524 1px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 70em;
    background-color: #001f1e;
    margin: 0 auto;
    justify-content: space-between;
}
body {
    background-color: #001f1e;
    margin: 0 auto;
    box-sizing: border-box;
}

header div img {
    margin-top: 10px;
    height: 50px;
    width: 300px;
}

.headerText {
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.headerText p {
    line-height: 60px;
    margin-block-start: 0.0em;
    margin-block-end: 0em;
    /* margin-inline-end: 1em; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
nav {
    max-width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: 4em;
    margin: auto;
    position: sticky;
    top: 0px;
    z-index: 2;
}

nav div {
    width: 10em;
    line-height: 4em;
    
}

nav div:hover > a {
    /* background-color: rgb(3, 97, 77);
    background-image: linear-gradient(#017e7a, #016864); */
    animation-name: navBar;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

nav div a {
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #ceeded;

}

section div {
    margin: auto;
    background-color: rgb(66, 49, 78);
    color:rgb(231, 169, 255);
    padding: 3px;
    height: 6em;
    width: 12em;
    margin-top: 5em;
    text-align: center;
    line-height: 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    margin: auto;
    max-width: 70em;
    height: 70em;
    background-color: #77A6A3;
    overflow: auto;
}

body .mobileNav {
    display: none;
    position: sticky;
    top: 66px;
    margin:0%;
}

body .mobileNav div {
    background-color:#0d5a57;
    width: calc(100vw - (100vw - 100%));;
}

body .mobileNav div:first-of-type {
    background-image: linear-gradient(#0d4e4c, #0d5a57);
}

#start {
    background-color:#0d5a57;
    color: white;
    font-size: 4vw;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 40px;

}

.boardWrapper {
    height: 20em;
    padding-right: 9em;

}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: 9em;
    height: 9em;
    margin-top: 2em;
}

.boardCell {
    background-color: #77A6A3;
    color: #001f1e;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
    border: solid #001f1e 1px;
    width: 3em;
    height: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boardCell:hover {
    background-color: #d5f8f7;
    color: #77A6A3;
}

.subHeader {
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: #d5a05c;
    font-weight: bold;
    padding-top: 1em;
    letter-spacing: 0.3rem;
}

.interfaceWrapper {
    margin: auto;
    text-align: center;
    display:inline-block;
    width: 100%;
    position:relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    /* padding-left: 60px; */

}
.interface {
    margin: auto;
    font-weight: bold;
    /* padding-left: 100px; */
}



.interfaceWrapper > form > input {
    background-color: #ceeded;
    color: #001f1e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    font-size: 1em;
    font-weight: bold;
    /* margin-right: 3em; */
}

#P1Name, #P2Name {
    max-width: -webkit-fill-available;
}


.strikethrough {
    position: relative;
    overflow: hidden;
   
}

.strikeHor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px; 
    background-color: #ffdb8e; 
    transform: translateY(-50%);
}

.strikeVer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 48%;
    width: 5px;
    height: 100%; 
    background-color: #ffdb8e; 
    transform: translateY(-50%);
}


.strikeDia::before {
    content: "";
    position: absolute;
    top: 100%; /* Center vertically before rotation */
    left: 0;
    width: 141.42%; /* Approximate width for diagonal */
    height: 5px;
    background-color: #ffdb8e;
    transform: translateY(-50%) rotate(-45deg); /* Center and rotate */
    transform-origin: 0 50%; /* Rotate from left-center */
}

/* .strikeDia2::before {
    content: "";
    position: absolute;
    top: 0%; 
    left: 0;
    width: 141.42%; 
    height: 3px;
    background-color: rgb(27, 63, 60);
    transform: translateY(50%) rotate(45deg);
    transform-origin: 0 -50%; 
} */


.strikeDia2::before {
    content: "";
    position: absolute;
    top: 0; /* Position at the top */
    left: 0;
    width: 141.42%;
    height: 5px;
    background-color: #ffdb8e;
    transform: rotate(45deg); /* Rotate for bottom-left to top-right */
    transform-origin: 0 0; /* Rotate from the top-left corner */
}

.winText {
text-align: center;
padding: 10px;
margin-bottom: 0.5em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
font-size: 2em;
color: #d5a05c
}

body {
    overflow-y: scroll; /* Force vertical scrollbar */
    /* Or use overflow: scroll; for both vertical and horizontal */
  }

#submit:hover, #reset:hover {
background-color: #ffdb8e;
}

#submit:active, #reset:active {
    background-color: #be9e59;
    }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 2em;
    color: #d5a05c;
    font-size: 3em;
}

.progBarFrame {
    background-color: #ceeded;
    width: 90vw;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    border: 8px;
    border-color: rgb(0, 97, 89);
    border-style: solid;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.progBarWrapper {
    margin: auto;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}