@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@keyframes navBar {
    from {color: #ceeded;}
    to {color: rgb(0, 196, 147);}
  }

  *::selection {
    background-color: rgb(30, 211, 150);
    color: white;
  }

  @media only screen and (max-width: 550px) {
    .headerText {
        display: none;
    }
  }

  @media only screen and (max-width: 1136px) {
    .menuWrapper .nav1 {
        display: none;
    }
  }

  @media only screen and (max-width: 300px) {
    .headerContent img {
        display: none;
    }
  }

  @media only screen and (min-width: 1137px) {
    .nav2 {
        display: none;
    }

    .nav2 div {
        display: none;
    }

    .menuWrapper .mobileLogo {
        display: none;
    }

    .mobileNav {
        display: none;
    }
  }

  .nav2 {
    display: inline-block;
  }

  .nav2 img {
    display: inline-block;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  .nav2 div {
    width: 0.5em;
  }

  .menuWrapper img {
    position: absolute;
    right: 15px;
  }

  .nav2 .hamWrapper {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 12px;
    width: 3em;
  }

  .nav2 .hamWrapper div {
   width: 25px;
   height: 4px;
   background-color: rgb(83, 238, 220);
   margin: 3px;
   border-start-start-radius: 1px;
   border-end-end-radius: 1px;
   border-start-end-radius: 1px;
   border-end-start-radius: 1px;
  }

  .nav2 .hamWrapper:hover > div {
    background-color: rgb(150, 247, 235);
}

header {
    background-color: aliceblue;
    margin: 0 auto;
    /* height: 4em; */
    box-sizing: border-box;
    background-color: #ceeded;
    border-top: solid #e7fcfc 1px;
    
}

.menuWrapper {
    height: 4em;
    background-image: linear-gradient(#006663, #00524F);
    border-top: solid #8aa0a0 1px;
    border-bottom: solid #002524 1px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 70em;
    background-color: #ceeded;
    margin: 0 auto;
    justify-content: space-between;
}
body {
    background-color: #001f1e;
    margin: 0 auto;
    box-sizing: border-box;
}

header div img {
    margin-top: 10px;
    height: 50px;
    width: 300px;
}

.headerText {
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.headerText p {
    line-height: 60px;
    margin-block-start: 0.0em;
    margin-block-end: 0em;
    /* margin-inline-end: 1em; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
nav {
    max-width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    height: 4em;
    margin: auto;
    position: sticky;
    top: 0px;
    z-index: 2;
}

nav div {
    width: 10em;
    line-height: 4em;
    
}

nav div:hover > a {
    /* background-color: rgb(3, 97, 77);
    background-image: linear-gradient(#017e7a, #016864); */
    animation-name: navBar;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

nav div a {
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #ceeded;

}

section div {
    margin: auto;
    background-color: rgb(66, 49, 78);
    color:rgb(231, 169, 255);
    padding: 3px;
    height: 6em;
    width: 12em;
    margin-top: 5em;
    text-align: center;
    line-height: 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    margin: auto;
    max-width: 70em;
    height: 70em;
    background-color: #77A6A3;
    overflow: auto;
}

body .mobileNav {
    display: none;
    position: sticky;
    top: 66px;
    margin:0%;
}

body .mobileNav div {
    background-color:#0d5a57;
    width: calc(100vw - (100vw - 100%));;
}

body .mobileNav div:first-of-type {
    background-image: linear-gradient(#0d4e4c, #0d5a57);
}

.timerWrapper {
    margin: auto;
    height: 500px;
    width: 800px;
    position: sticky;
    margin-top: 2em;
}

.timerLogo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
    padding-top: 30px;
    font-size: 3em;
    color:#ceeded;
    text-shadow: 2px 2px 2px black; 
}

.timerText {
    margin:auto;
    
}

.clockWrapper {
    text-align: center;
    display: flex;
}

.clockWrapper div {
    margin: auto;
    line-height: 4em;
    color: #ceeded;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 2em;
    text-shadow: 0px 4px 4px black;
}